/* BODY - Font: */
/* Setting text font stack for all text: */
body {font-family: 'ABeeZee', 'Arial Narrow', Arial, sans-serif;} 

/* IMAGE: */
/* Setting a border radius to make image corners round-ish: */
img {border-radius: 10px;} 

/* HEADING 3 - Animal Name: */
h3 {
    /* Setting Heading style to be orange to match background & cat hues */
    color: rgb(255, 151, 55); 
    /* Giving it a shadow so it sticks out from background */ 
    text-shadow: 2px 2px 2px black; 
}

/* LIST ITEMS: */
li {
    /* Removing dots as requested */
    list-style-type: none; 
    /* Moving list items to the left so they are at the same height 
    as the other blocks of text */
    margin-left: -2em; 
  }

/* LIST ITEMS - Bold: */
/* Giving the bold list item text a slightly different text shadow 
to stick out from background, 1px horizontally so the whole shadow 
sticks out slightly more than the rest of the text */
li strong {text-shadow: 1px 0px 5px white;} 

/* NORMAL LIST ITEMS TEXT AND OTHER INFO TEXT: */
p, ul { /* Experimenting with how I can assign multiple selectors to 
    the same rules and this way of writing */
    /* Setting all text to be only as much as 280px wide */
    width: 280px; 
    /* Center text block elements with regards to each other */
    margin: auto; 
    /* Adjusting margin on top part of text blocks */
    margin-top: 0.5em; 
    /* Adjusting margin below text blocks so its symmetrical to above */
    margin-bottom: 0.5em; 
    color: black; 
    /* Text shadow again so all text sticks out more from background 
    with a white shadow (so there's contrast to black text color) */
    text-shadow: 0px 0px 5px #fcfcfc; 
    /* Made all text a little smaller because I liked it better visually */
    font-size: 90%; 
}

/* card CLASS: */
/* Class "card" refers to the entire body of the card, from outline and 
box shadow to all info and image contained within it. */
.card {
    /* Making it 300px excluding spacing */
    width: 300px; 
    /* Using auto margin for better centering of elements in relation 
    to each other */
    margin: auto; 
    /* Adjusting the spacing */
    padding: 1.5em; 
    /* Adjusting margin on top part of the card to not extend 
    too much beyond animal name */
    padding-top: 0.1em; 
    /* Adjusting card bottom to not extend too much and to be 
    approximately same space as card top (space same with above animal name) */
    padding-bottom: 0.1em; 
    /* Adding card (box) shadow */
    box-shadow: 7px 7px 5px rgb(182, 183, 184); 
    /* I wanted to make the card prettier by using a background image */
    background-image: url(paws.jpg); 
    /* Adding border around card as requested */
    border: 1px solid rgb(160, 160, 160); 
    /* Making border corners round-ish like image edges */
    border-radius: 10px; 
    /* Background image wouldn't load on internet explorer 
    so I'm using a background color as a failsafe */
    background-color: rgba(255, 201, 165, 1); 
}

/* info CLASS: */
/* Class "info" refers to the text information about the animal 
(enclosed in a border), including interesting fact, list and description. */
.info {
    /* Adding border around info as requested */
    border: 1px solid rgb(160, 160, 160); 
    /* Making corners round-ish to match with the other rounded corners */
    border-radius: 10px; 
    /* Adjusting margin at the top of info block */
    margin-top: 1em; 
    /* Adjusting margin at the bottom of info block symmetrically */
    margin-bottom: 1em; 
    /* Making entire block same width as image like in the prototype */
    width: 300px;  
    /* Added a translucent colored background for the info block so that 
    the text on top sticks out more on a more consistent background color 
    than background image */
    background-color: rgba(231, 77, 49, 0.5); 
}

/* INTERESTING FACT: */
/* Made interesting fact text 10% smaller than other text to save space 
and because I thought it was more fitting visually */
.info em {font-size: 90%;} 
